<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <button>
        <a href="/get-crud">Users</a>
    </button>
    <h1>Hello world with hoang form view</h1>
    <p>

    </p>
</body>

</html>